@model PrjFinanceiro.Models.Agencia

<div class="container mt-5">
    <div class="card border-danger">
        <div class="card-header bg-danger text-white">
            <h2>Excluir Agência</h2>
        </div>
        <div class="card-body">
            <h4 class="text-danger">Tem certeza que deseja excluir esta agência?</h4>
            <hr />

            <dl class="row">
                <dt class="col-sm-3">Código:</dt>
                <dd class="col-sm-9">@Model.Codigo</dd>

                <dt class="col-sm-3">Nome:</dt>
                <dd class="col-sm-9">@Model.Nome</dd>

                <dt class="col-sm-3">Cidade:</dt>
                <dd class="col-sm-9">@Model.Cidade</dd>

                <dt class="col-sm-3">Estado (UF):</dt>
                <dd class="col-sm-9">@Model.EstadoUF</dd>
            </dl>

            <form action="/Agencia/ExcluirConfirmado" method="post">
                <input type="hidden" name="codigo" value="@Model.Codigo" />

                <button type="submit" class="btn btn-danger">Sim, Excluir</button>
                <a href="/Agencia/Index" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </div>
</div>